//-
	mixin alert(type):
		if ! type
	<div class="bd-example" data-example-id="">
	<div class="alert alert-success" role="alert">
	  <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
	</div>
	<div class="alert alert-info" role="alert">
	  <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
	</div>
	<div class="alert alert-warning" role="alert">
	  <strong>Warning!</strong> Better check yourself, you're <a href="#" class="alert-link">not looking too good</a>.
	</div>
	<div class="alert alert-danger" role="alert">
	  <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
	</div>
	</div>

mixin head(size)
	- var elem = 'h' + size
	#{elem}()&attributes(attributes)
		block

mixin text(type, elem)
	if ! lists.texts.elements.includes( elem )
		- elem = "p"

	if ! type || ! lists.texts.classes.includes( type )
		- type = lists.texts.default

	#{elem}&attributes(attributes)(class="text-"+type)
		block

mixin help(text)
	+text('primary','p').help-block
		!= text

//- Section elements
mixin section-title(title, summary, vline)
	| <!-- Begin Section Title: #{title} -->
	.col-md-12
		.section-title.item_bottom.text-center
			h1.uppercase 
				!=title
			if vline == true
				b.v-line-md
			h4.weight-300 
				!=summary
	| <!-- End Section Title: #{title} -->


mixin section
	section.cf.mb4.mb3-ns.mb3-p
		
mixin section-2()
	div.col-md-6.col-sm-6.col-xs-12
		div.service-item-2.item_top(style="opacity: 1; top: 0px;")

			div.icon-right
				i.fa.fa-desktop
				div.content-left
					h5.uppercase Column A
					p AAA
          
	div.col-md-6.col-sm-6.col-xs-12
		div.service-item-2.item_top(style="opacity: 1; top: 0px;")

			div.icon-left
				i.fa.fa-file-pdf-o
				div.content-right
					h5.uppercase Column B
					p BBB



mixin row()
	| <!-- Begin Row -->
	div&attributes(attributes).row
		block
	| <!-- End Row -->

mixin rowc()
	| <!-- Begin (clearfixed) Row -->
	+row&attributes(attributes).clearfix
		block
	| <!-- End (clearfixed) Row -->

mixin row-test(str)
	| <!-- Begin (clearfixed) Row -->
	if str
		strong Value of str:
		p
			!=str
	+row&attributes(attributes).clearfix
		block
	| <!-- End (clearfixed) Row -->

mixin row-section(title, content, align)
	| <!-- Begin #{title} section -->
	.service-item-2.item_top(style="opacity: 1; top: 0px;")
		if align
			div(class='content-' + align)
		else
			.content-left
			h5.uppercase title
			p content
	| <!-- End #{title} section -->


mixin section2(title, summary, size)
	| <!-- Begin #{title} section -->
	section.section-content.new-line.killPadBottom(id=title)
		.container
			.row
				div(class= size ? 'col-md-' + size : 'no-size')
					| <!-- Begin Section Title -->
					.section-title.item_bottom.text-center
						h1.uppercase title
						b.v-line-md
						h4.weight-300 summary
					| <!-- End Section Title -->
			.row.clearfix
				div(class='col-md-' + size + ' col-sm-' + size + ' col-xs-' + size )
					.service-item-2.item_top(style="opacity: 1; top: 0px;")
						div
							h5.uppercase 'Full Width'
							p 'This should be full width'
	| <!-- End #{title} section -->

